* {
    box-sizing: border-box;
}
 

.col1{
    background-color: #eee;
    border: solid ipx #aaa;
}
.block{
    background-color: #eee;
    border: solid 1px #aaa;
    padding: 20px;
    text-align: center;
    
}
.header{
    max-height:  90px;
    /* margin-bottom: 130px;     */
}
.armenia_bg1{
    
    background-image: url(img/armenia_bg.png);

}
.armenia_bg2{
    background-image: url(img/armenia_bg2.png);
    min-height:  500px;

}