@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,500;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.main_container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f6;
}

.p_white {
  color: #eee;
}
.col1 {
  background-color: #eee;
  border: solid ipx #aaa;
}
.block {
  background-color: #eee;
  border: solid 1px #aaa;
  padding: 20px;
  text-align: center;
}
.header {
  max-height: 100px;
  /* margin-bottom: 130px;     */
}
.armenia_bg1 {
  background-image: url(img/armenia_bg.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  background-position: top;
}
.armenia_bg2 {
  background-image: url(img/armenia_bg2.png);
  min-height: 500px;
}
.big_red_rentangle {
  background-color: #f46258;
  
}
.oblasti_znaniy {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.texnologies {
  min-height: 150px;
}
.working-cases {
  min-height: 500px;
}

.zagolovok {
  
  
  font-size: xx-large;
  font-weight: 700;

}
.square {
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}