* {
    box-sizing: border-box;
}
 

.col1{
    background-color: #eee;
    border: solid ipx #aaa;
}
.block{
    background-color: #eee;
    border: solid 1px #aaa;
    padding: 20px;
    text-align: center;
    height: 100%
}
.header{
    min-height: 90px;
    /* margin-bottom: 130px;     */

}